* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/*---------- NAVBAR ----------*/
nav {
  background-color: rgb(78, 78, 78);
  overflow: hidden;
  width: 100%;
}

.navigationBar {
  max-width: 1000px;
  margin: 0 auto;
}

.navLink {
  float: left;
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.navLink:hover {
  background-color: aliceblue;
  color: rgb(78, 78, 78);
  text-decoration: none;
}

.imgSource {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: lightcyan;
  text-shadow: 1px 1px 7px white;
  font-size: 11px;
}  

/*---------- ABOUT Section --------*/
.biography {
  overflow: scroll;
  max-height: 60vh;
}



/*----------Contact Section ---------*/
#contact-form {
  text-align: center;
}

label {
  display: block;
}

#contact-form input, #contact-form textarea {
  width: 70%;
  min-width: 480px;
}

/*----------Resource----------*/
.card{
  margin-bottom: 2rem;
}
#pdf-guide-block {
  margin: 4rem 0;
}

.resource-block{
  padding: 4rem 0;
  border-top: gray;
  border-top-style: solid;
}

#pexels-search{
  display: inline-block;
}